@(eventCalendar : EventCalendar, users : List[User])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User Edit</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel = "stylesheet" href="/assets/stylesheets/Background.css">
        <script src="/assets/lib/jquery/jquery.min.js"></script>
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    @navbar.render
    <body class="text-center bg-light">
        <div class="container">
            <h1 class="text-center font-weight-normal font-italic display-4"><strong>Editing: </strong>@eventCalendar.getDescription</h1>
            <form method="post" enctype="multipart/form-data">
                @helper.CSRF.formField
                <table class="table table-borderless">
                    <tr>
                        <td>Date</td>
                        <td><input type="date" placeholder="date" name="Date" value="@eventCalendar.getDate"></td>
                    </tr>
                    <tr>
                        <td>Time</td>
                        <td><input type="time" placeholder="time" name="Time" value="@eventCalendar.getTime"> </td>
                    </tr>
                    <tr>
                        <td>Event</td>
                        <td><input type="text" placeholder="Description" name="Description"
                                   value="@eventCalendar.getDescription"></td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td><input type="text" name="Reminder" value="@eventCalendar.getReminder"></td>
                    </tr>
                    <tr>
                        <td>Notes</td>
                        <td><input type="text" name="SpecialEvents" value="@eventCalendar.getSpecialEvents"></td>
                    </tr>
                    <td>User</td>
                    <td> <select name="UserId">
                        @for(user<-users) {
                        @if(eventCalendar.getUserId==user.getUserId){
                        <option value="@user.getUserId">@user.getUserName</option>
                        } else{
                        <option value="@user.getUserId">@user.getUserName</option>
                        }
                        }
                    </select></td>
                </table>
                <input type="submit" value="Save">
            </form>
        </div>
    </body>
</html>