@(users : List[User])
@doctype.render

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/jquery/jquery.min.js"></script>
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class="text-center bg-info">


        @navbar.render

        <h1 class="text-center display-3"><strong>Add Event</strong></h1>

        <form method="post">
            @helper.CSRF.formField

            <input type="date" placeholder="Date" name="Date">
            <br>
            <input type="text" placeholder="Description" name="Description">
            <br>
            <input type="text" placeholder="Reminder" name="Reminder">
            <br>
            <input type="text" placeholder="Special Events" name="SpecialEvents">
            <br>
            <!--<input type="text" placeholder="User Id" name="userId">-->
            <!--<br>-->
            <br>

            <select name="UserId">
                @for(user<-users) {
                <option value="@user.getUserId">@user.getUserName</option>
                }
            </select>



            <input type="submit" value="Save">
        </form>
    </body>

</html>