<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/homepage">HomeWorks</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="user" id="user" data-toggle="dropdown">
                Users
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/user">Users</a>
                <a class="dropdown-item" href="/useradd">Add User</a>


            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="shoppinglistitem" id="shoppinglistitem" data-toggle="dropdown">
                Shopping List
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/shoppinglistitem">Shopping List</a>
                <a class="dropdown-item" href="/shoppinglistitemadd">Add Item</a>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="eventcalendar" id="eventCalendar" data-toggle="dropdown">
                To Do List
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/eventcalendar">To Do List</a>
                <a class="dropdown-item" href="/eventcalendaradd">Add Event</a>




            </div>
        </li>
    </ul>
</nav>








<!--<li class="nav-item">-->
    <!--<a class="nav-link" href="/eventcalendar">Calendar</a>-->
<!--</li>-->