<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add User</title>
        <link rel = "stylesheet" href = "/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel = "stylesheet" href="/assets/stylesheets/Background.css">
        <script src = "/assets/lib/jquery/jquery.min.js"></script>
        <script src = "/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    @navbar.render
    <br>
    <div class="container">
    <body class="bg-light text-center">

        <h1 class="text-center font-weight-normal font-italic display-4"><strong>Adding User</strong></h1>
        <br>
        <br>
        <form method="post">
            @helper.CSRF.formField
            <div class="form-group">
              <label>New User</label>
            <input type="text"  name="userName">
            </div>
            <br>
            <input type="submit" value="Save">
        </form>
</div>
    </body>
</html>