@(user : User, eventCalendars : List[EventCalendar])
@doctype.render
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>User File</title>
        <link rel = "stylesheet" href = "/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src = "/assets/lib/jquery/jquery.min.js"></script>
        <script src = "/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    @navbar.render

    <body class="bg-info">
        <div class="text-center">
        <h1>@user.getUserName's Daily Planner</h1>
        </div>
        <br>
        <br>
        <div class="text-center">
            <table class="table table-bordered table-striped table-dark">

            @for(eventCalendar<-eventCalendars){
            <tr>
                <form method="post">
                    @helper.CSRF.formField
                    <td><a href="/eventfile/@eventCalendar.getCalendarId">@eventCalendar.getDescription</a>

                        <button type="button" class="float-right btn btn-outline-light btn-sm"><a href="/eventcalendardelete/@eventCalendar.getCalendarId">Delete</a> </button>
                        <button type="button" class="float-right btn btn-outline-light btn-sm"><a href="/eventcalendaredit/@eventCalendar.getCalendarId">Edit</a> </button>
                        <button type="button" class="float-left btn btn-outline-light btn-sm">@eventCalendar.getDate</a> </button>
                </form>
                </td>
            </tr>

        }
        </div>
    </body>
</html>