<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add User</title>
        <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class="bg-info text-center">

        <h1 class="text-center display-3"><strong>Adding User</strong></h1>
        <form method="post">
            @helper.CSRF.formField
            <input type="text" placeholder="User Name"  name="userName">
            <br>
            <br>
            <input type="submit" value="Save">
        </form>
    </body>
</html>